.navigationBar{
    background-color: #339f9c;
    
}
.mainView{
 background-color: #85c9c1;  
 padding: 50px; 
}
.container {
    text-align: center;
    
}
.colorPadding{
    /* */
    color: white;
    text-align: justify;
    
}
.navigationBarClient{
    background-color: #D0E2A8;
}
.navigationBarClient img{
    height: 400px;
    width: 400px;
}


.colorPadding p{
    font-size: 20px;
    padding-right: 30px;

}
.colorPadding h2{
    margin-top: 30px;

}

.options {
    margin-top: 20px;
}

.option-button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

.work-section {
    display: none;
    margin-top: 20px;
}
.monir{
    display: none;
}

.work-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.work-item {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.work-image {
    max-width: 20%;
    height: auto;
}

.work-description h3 {
    margin-top: 10px;
}

.work-description p {
    margin-top: 5px;
}


.partner-section {
    padding: 30px 0;
    /* background-color: #fff; */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.partner-logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.partner-logo {
    width: 150px;
    margin: 20px;
}

.partner-logo img {
    max-width: 100%;
    height: auto;
}

.partner-heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.client-review {
    padding: 50px 0;
    /* background-color: #f4f4f4; */
}

.review-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.review-card img {
    max-width: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.review-content {
    flex: 1;
}